<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">Inicio</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/binding" routerLinkActive="activo-maxi">Binding</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/estructura" routerLinkActive="activo-pepe">Estructura</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/atributos" routerLinkActive="activo-maxi">Atributos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/formularios" routerLinkActive="activo-maxi">Formularios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/panel" routerLinkActive="activo-maxi">Panel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes" routerLinkActive="activo-maxi">Clientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" routerLinkActive="activo-maxi">Usuarios</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
